<div *ngIf="wine">

  <div class="col-md-6">
    <h2>{{wine.name}} wine details</h2>
    <div><span>id: </span>{{wine.id}}</div>
    <div class="form-group">
      <label>Name:</label>
        <input class="form-control" [(ngModel)]="wine.name" placeholder="name">
    </div>
    <div class="form-group">
        <label>Year:</label>
        <input class="form-control" [(ngModel)]="wine.year" placeholder="year">
    </div>
    <div class="form-group">
        <label>Producer:</label>
        <input class="form-control" [(ngModel)]="wine.producer" placeholder="producer">
    </div>
    <button class="btn btn-default" (click)="goBack()"><i class="fas fa-arrow-left"></i> BACK</button>
    <button class="btn btn-default" (click)="save()"><i class="fas fa-save"></i> SAVE</button>
  </div>
</div>